@font-face {
    font-family: "Georgia";
    src: url("./assets/fonts/Georgia.ttf");
    }
    
root {
        box-sizing: border-box;
    }
    
*,
*::before,
*::after {
        box-sizing: inherit;
    }

    body{
        margin: 0;
    }

.container{
    display: grid;
    grid-template-columns: repeat(34, 20px);
    grid-template-rows: repeat(28, 20px);
}

.element1{
    grid-area: 1/1/5/2;
    background-color: white;
    border: 3px solid black;
}

.element2{
    grid-area: 1/2/2/15;
    background-color: white;
    border: 3px solid black;
}
.element3{
    grid-area: 2/2/5/15;
    background-color: darkblue;
    border: 3px solid black;
}
.element4{
    grid-area: 1/15/2/31;
    background-color: white;
    border: 3px solid black;
}
.element5{
    grid-area: 1/31/14/33;
    background-color: white;
    border: 3px solid black;
}
.element6{
    grid-area: 1/33/14/35;
    background-color: orange;
    border: 3px solid black;
}
.element7{
    grid-area: 2/15/5/21;
    background-color: white;
    border: 3px solid black;
}
.element8{
    grid-area: 2/21/5/31;
    background-color: darkblue;
    border: 3px solid black;
}
.element9{
    grid-area: 5/1/17/2;
    background-color: black;
    border: 3px solid black;
}
.element10{
    grid-area: 5/2/17/6;
    background-color: white;
    border: 3px solid black;
}
.element11{
    grid-area: 5/6/25/8;
    background-color: black;
    border: 3px solid black;
}
.element12{
    grid-area: 5/8/14/13;
    background-color: white;
    border: 3px solid black;
}
.element13{
    grid-area: 5/13/14/15;
    background-color: white;
    border: 3px solid black;
}
.element14{
    grid-area: 5/15/14/21;
    background-color: orange;
    border: 3px solid black;
}
.element15{
    grid-area: 5/21/14/29;
    background-color: red;
    border: 3px solid black;
}
.element16{
    grid-area: 5/29/14/31;
    background-color: red;
    border: 3px solid black;
}
.element17{
    grid-area: 14/8/17/10;
    background-color: orange;
    border: 3px solid black;
}
.element18{
    grid-area: 14/10/17/15;
    background-color: red;
    border: 3px solid black;
}
.element19{
    grid-area: 14/15/17/21;
    background-color: darkblue;
    border: 3px solid black;
}

.element20{
    grid-area: 14/21/17/29;
    background-color: white;
    border: 3px solid black;
}
.element21{
    grid-area: 14/29/17/31;
    background-color: white;
    border: 3px solid black;
}
.element22{
    grid-area: 14/31/17/35;
    background-color: black;
    border: 3px solid black;
}

.element23{
    grid-area: 17/1/25/2;
    background-color: white;
    border: 3px solid black;
}

.element24{
    grid-area: 17/2/25/6;
    background-color: red;
    border: 3px solid black;
}

.element25{
    grid-area: 17/8/29/10;
    background-color: orange;
    border: 3px solid black;
}

.element26{
    grid-area: 17/10/23/19;
    background-color: white;
    border: 3px solid black;
}

.element27{
    grid-area: 17/19/23/25;
    background-color: white;
    border: 3px solid black;
}

.element28{
    grid-area: 17/25/23/29;
    background-color: darkblue;
    border: 3px solid black;
}

.element29{
    grid-area: 17/29/23/31;
    background-color: orange;
    border: 3px solid black;
}

.element30{
    grid-area: 17/31/23/35;
    background-color: white;
    border: 3px solid black;
}

.element31{
    grid-area: 25/1/29/8;
    background-color: white;
    border: 3px solid black;
}

.element32{
    grid-area: 23/10/29/15;
    background-color: red;
    border: 3px solid black;
}

.element33{
    grid-area: 23/15/29/25;
    background-color: black;
    border: 3px solid black;
}
.element34{
    grid-area: 23/25/29/35;
    background-color: white;
    border: 3px solid black;
}